$status-collapsed-height: 10em;
$notification-collapsed-height: 6em;

.status__wrapper {
  &.collapsed {
    .status {
      &__content {
        height: unset;
        max-height: $status-collapsed-height;
        padding-top: unset;
        mask-image: linear-gradient(#000 80%, transparent);

        &::after {
          top: unset;
          height: 40%;
        }

        // "See more" button
        &__spoiler-link {
          background: $action-button-color;
        }
      }

      &--in-thread > button {
        margin-inline-start: 46px + 10px;
      }
    }
  }
}

.notification-ungrouped .status__wrapper.collapsed .status__content {
  max-height: $notification-collapsed-height;
}
